body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px
}

header {
  width: 100%;
  height: 70px;
  position: fixed;
  background-color: #284f6e;
}

a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

h1 {
  color: #ffffff;
  font-size: 150%;
  font-style: bold;
  text-transform: uppercase;
}

h2 {
  color: #ffffff;
  font-size: 90%;
}

hr {
width: 220px;
margin-top: 0px;
border: 2px solid white;
border-radius: 5px;
}

p {
  padding-left: 10px;
  padding-right: 10px;
  color: #284f6e;
}
.navigation-bar {
  width: 100%;
  height: 80px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.navigation-bar > a {
  text-transform: uppercase;
  font-size: 70%;
  font-weight: bold;
  color: #ffffff;
  padding-top: 10px;
  margin-left: auto;
  margin-right: 5px;
  margin-bottom: 60px;
}

.navigation-bar > a:hover {
  color: tomato;
}

.navbar-name {
  font-size: 115%;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 10px;
  }

.title {
  background: #23db9b;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.profile-picture {
  padding-top: 25px;
  width: 160px;
  height: 160px;
}

#about-me {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#about-me > h1 {
  font-weight: bold;
  color: #284f6e;
  margin-top: 25px;
}

#about-me > hr {
  width: 120px;
  margin-top: 0px;
  border: 2px solid #284f6e;
  border-radius: 5px;
}

#projects {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#projects > h1 {
  font-weight: bold;
  color: #284f6e;
  margin-top: 25px;
}

#projects > hr {
  width: 120px;
  margin-top: 0px;
  margin-bottom: 25px;
  border: 2px solid #284f6e;
  border-radius: 5px;
}

#projects > span {
  margin-left: 10px;
  margin-right: auto;
  color: #284f6e;
  font-size: 90%;
  font-weight: bold;
}
#projects > a {
  display: inline;
}

#projects img {
  display: inline;
}

#logo {
  width: 40px;
  height: 40px;
}

@media only screen and (max-width: 600px) {
}


@media only screen and (min-width: 600px) {

}


@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 992px) {

}


@media only screen and (min-width: 1200px) {

}
